
* {
  font-family: Ubuntu, arial;
}

input { height: 128px; }

/* body { */
/*   margin-bottom: 12px; */
/* } */

input[type="text"],input[type="password"] {
  height: 28px;
}

.obutton {
  border: 0px;
}

.marker {
  float: left;
  clear: both;
}

#canvas { height: 100%;
          width: 100%;
        }